@page
@model IndexModel
@{
    ViewData["Title"] = "Unialcance - Curso de programação";
}

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>Bem-vindos</h1>
        <p>Esta é uma aplicação .net de exemplo, muito simples, mas que permitirá a vocês contribuirem com ela e visualizarem o seu código online.</p>
        <a type="button" class="btn btn-lg btn-default" href="/PG004"><span class="glyphicon glyphicon-flash"></span>Acessar tela da turma PG004</a>
    </div>
</div>

