@page
@model BrunaModel
@{
    ViewData["Title"] = "Bruna";
}

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>Bruna</h1>
        <p>Esta página é da Bruna</p>
    </div>
</div>

