@page
@model EliedsModel
@{
    ViewData["Title"] = "Eliéds";
}

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>Eliéds</h1>
        <p>Esta página é do Eliéds</p>
    </div>
</div>

