@page
@model IndexModel
@{
    ViewData["Title"] = "Felipe";
}

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>Felipe</h1>
        <p>Esta página é do Felipe</p>
    </div>
</div>

