@page
@model IndexModel
@{
    ViewData["Title"] = "PG004";
}

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>PG004</h1>
        <p>Aqui, cada aluno poderá criar o seu retorno de código, que será executado ao clicar o respectivo botão</p>
        <a type="button" class="btn btn-lg btn-default" href="/PG004/Professor"><span class="glyphicon glyphicon-flash"></span>Professor</a>
    </div>
</div>

