@page
@model IndexModel
@{
    ViewData["Title"] = "Nicolas";
}

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>Nicolas</h1>
        <p>Esta página é do Nicolas</p>
    </div>
</div>

