@page
@model ProfessorModel
@{
    ViewData["Title"] = "Professor";
}

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>Professor</h1>
        <p>Esta página é do professor</p>
    </div>
</div>

