@page
@model ViniciusHipplerModel
@{
    ViewData["Title"] = "Vinícius Hippler";
}
<h1>Vinícius Hippler</h1>
<p>Esta página é do Vinícius Hippler</p>
    <div id="fundo">
        <div class="container">
            <h1>Página do Vini</h1>
            Meu nome é Vinícius <br>
            Idade = 15 anos
        </div>
    </div>
</html>

