@page
@model ViniciusHipplerModel
@{
    ViewData["Title"] = "Vinícius Hippler";
}

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>Vinícius Hippler</h1>
        <p>Esta página é do Vinícius Hippler</p>
        <!DOCTYPE html>
            <html lang="pt-br">

            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="style.css">
                <title>Página do Vini</title>
                style{
                        *{
                            margin: 0;
                            padding: 0;
                            box-sizing: border-box;
                            font-family: 'Roboto', sans-serif;
                        }

                        body{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100vh;
                            background: #36d1dc;
                            background: linear-gradient(to right, #5b86e5, #36d1dc);
                        }

                        .container{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            background-color: #fff;
                            padding: 40px 30px 30px;
                            border-radius: 8px;
                            box-shadow: 0 1em 2em rgba(0, 0, 0, 0.25);
                        }

                        ol{
                            justify-content: center;
                            text-align: center;
}
                }
            </head>

            <body>
                <div id="fundo">
                    <div class="container">
                        <h1>Página do Vini</h1>
                        Meu nome é Vinícius <br>
                        Idade = 15 anos
                    </div>

                </div>
            </body>

            </html>
    </div>
</div>

