@page
@model ViniciusRafaelModel
@{
    ViewData["Title"] = "Vinícius Rafael";
}

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>Vinícius Rafael</h1>
        <p>Esta página é do Vinícius Rafael</p>
    </div>
</div>

